[submodule "mackup/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = mackup/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "mackup/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = mackup/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "mackup/.oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = mackup/.oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "mackup/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = mackup/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "mackup/.oh-my-zsh/custom/themes/spaceship-prompt"]
	path = mackup/.oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
