ansible
autopep8
bandit
black
click # typer
coloredlogs
flake8
flake8_commas
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-docstrings
flake8-import-order
flake8-logging-format
flake8-module-name
flake8-rst-docstrings
# hyperopt
ipython
isort
# joblib
jupyterlab
# more-itertools
mypy
# pip-tools
# poetry
pretty_errors
pre-commit
# prospector
pylint
pylint-fail-under
pytest-cov
pytest-mock
rich
# scalene
tenacity
# tqdm
# xenon
