# Aliases are configured here and sourced from ~/.zshrc.

# Brew.
alias overbrew='brew leaves | xargs brew deps --installed --for-each | sed "s/^.*:/$(tput setaf 4)&$(tput sgr0)/"'
alias brewdump='brew bundle dump ; cat Brewfile ; rm Brewfile'

# Custom.
alias sourcev='source venv/bin/activate' # Activate venv in current folder.
alias sourcez='source ~/.zshrc' # Source zshrc in current shell.
alias dstop="docker ps | awk 'NR>1{ print $1 }' | parallel docker stop {}" # Stop all docker containers.
alias retmux="tmux source-file ~/.tmux.conf"
alias reterm="cd $HOME; deactivate; clear"

# Exa.
alias ll='eza -la --icons --git' # Always use list and show all, add icons and git status info.
alias llt='eza --icons --tree --git-ignore' # Show tree with icons.

# FZF.
alias fzfp="fzf --preview '([[ -f {} ]] && (bat --style=numbers --color=always {} || cat {})) || ([[ -d {} ]] && (tree -C {} | less)) || echo {} 2> /dev/null | head -200'"

# Search aliases and bindkeys.
alias searchalias="alias | fzf"
alias searchbindkey="bindkey | fzf"

# Git aliases.
alias gsp="git stash && gl && git stash apply"
alias gspd="git stash && gco develop && gl && git stash apply"
alias gspm="git stash && gco main && gl && git stash apply"
alias gpuo="git branch --show-current | xargs git push -u origin"

# VS Code.
alias ci="code-insiders"
alias code=ci
