# Aliases are configured here and sourced from ~/.zshrc.


# Brew.
alias overbrew='brew leaves | xargs brew deps --installed --for-each | sed "s/^.*:/$(tput setaf 4)&$(tput sgr0)/"'
alias brewdump='brew bundle dump ; cat Brewfile ; rm Brewfile'

# Custom.
alias exa='exa -la' # Always use list and show all.

# Fasd.
alias v='f -e vim'       # Open in VIM.
alias o='a -e open'      # Open with default.

# FZF.
alias fzfp="fzf --preview '([[ -f {} ]] && (bat --style=numbers --color=always {} || cat {})) || ([[ -d {} ]] && (tree -C {} | less)) || echo {} 2> /dev/null | head -200'"

# Search aliases and bindkeys.
alias searchalias="alias | fzf"
alias searchbindkey="bindkey | fzf"
