[user]
	name = Niels Degrande
	email = niels@degran.de

[credential]
	helper = osxkeychain

[core]
	editor = nvim
	excludesfile = ~/git/.gitignore
	pager = delta

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	colorMoved = default
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	conflictstyle = zdiff3
	tool = nvimdiff

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvimdiff"]
	cmd = "nvim -d \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -c 'wincmd J | wincmd ='"

[delta]
	navigate = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
