{{! Sphinx Docstring Template }}

{{#args}}
:param {{var}}: 
{{/args}}
{{#kwargs}}
:param {{var}}: 
{{/kwargs}}
{{#exceptions}}
:raises {{type}}: 
{{/exceptions}}
{{#returns}}
:return: 
{{/returns}}
{{#yields}}
:yield: 
{{/yields}}
